<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.CustomerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="CustomerResultMap" type="com.wangzhixuan.model.Customer">
		<id column="customer_id" property="customerId" />
		<result column="mobile" property="mobile" />
		<result column="name" property="name" />
		<result column="real_name" property="realName" />
		<result column="ID_code" property="IDCode" />
		<result column="address" property="address" />
		<result column="sex" property="sex" />
		<result column="age" property="age" />
		<result column="register_time" property="registerTime" />
		<result column="message" property="message" />
		<result column="password" property="password" />
		<result column="IP" property="ip" />
		<result column="website" property="website" />
		<result column="remark" property="remark" />
		<result column="email" property="email" />
	</resultMap>

	<select id="selectAll" parameterType="java.util.Map" resultMap="CustomerResultMap">
		select * FROM customer
		<where>
			<if test="mobile!=null">
				mobile like #{mobile}
			</if>
		</where>
		ORDER by register_time DESC limit #{from},#{size}
	</select>
	<select id="count" resultType="java.lang.Integer">
		select count(*) FROM customer
	</select>
	<select id="deleteByCustomerId" parameterType="java.lang.Integer">
		DELETE FROM customer WHERE customer_id= #{id}
	</select>

    <select id="selectName" parameterType="Customer" resultMap="CustomerResultMap">
		  select * from customer
		<where>
			<if test="mobile != null and mobile!=''">
				mobile=#{mobile}
			</if>
			<if test="name != null">
				 name=#{name}
			</if>
		    	and password=#{password}
		</where>
	</select>
	<select id="selectRegistName" parameterType="Customer" resultMap="CustomerResultMap">
		 select * from customer
		 <where>
			 <if test="name!=null and name!=''">
				 name=#{name}
			 </if>
		 </where>
	</select>

	<insert id="insertCustomerName" parameterType="Customer">
				 insert into customer
				 <trim prefix="(" suffix=" )" suffixOverrides=",">
					 <if test="mobile!=null">
						    mobile,
					 </if>
					 <if test="name!=null and name!=''">
						    name,
					 </if>
					 <if test="realName!=null and realName!=''">
						     real_name,
					 </if>
					 <if test="password!=null ">
						     password,
					 </if>
					 <if test="registerTime!=null ">
						     register_time,
					 </if>
					 <if test="message!=null and message!=''">
						     message,
					 </if>
					 <if test="sex!=null">
						     sex,
					 </if>
				 </trim>
		         <trim prefix="values(" suffix=")" suffixOverrides=",">
					  <if test="mobile!=null">
							#{mobile},
					  </if>
					  <if test="name!=null and name!=''">
						    #{name},
					  </if>
					  <if test="realName!=null and realName!=''">
						    #{realName},
					  </if>
					  <if test="password!=null">
						    #{password},
					  </if>
					  <if test="registerTime!=null ">
						    #{registerTime},
					  </if>
					  <if test="message!=null and message!=''">
						    #{message},
					  </if>
					  <if test="sex!=null">
						    #{sex},
					  </if>
					  <if test="ip!=null">
						    #{IP},
					  </if>
				 </trim>
	</insert>

	<select id="selectCheckName" parameterType="Customer" resultMap="CustomerResultMap">
		  select * from customer
			<where>
				<if test="name!=null and name!=''">
					name=#{name}
				</if>
			</where>
	</select>
	<update id="updatePwd" parameterType="Customer">
		    UPDATE customer set password=#{password}
		<where>
			<if test="name!=null and name!='' and sex!=''">
				name=#{name}
			</if>
		</where>
	</update>
	<update id="updateRemark" parameterType="java.lang.String">
		    UPDATE customer set remark=#{remark} where customer_id=#{id}
	</update>

</mapper>
