<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.ImageTypeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.ImageType">
		<id column="id" property="id" />
		<result column="type_name" property="typeName" />
		<result column="parent_id" property="parentId" />
	</resultMap>
	<select id="selectByImageType" resultMap="BaseResultMap" parameterType="int">
		select * from image_type where id=#{id}
	</select>
</mapper>
